
<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name="description" content="description">
 
<title>Design Shack Animated Photo Banner</title>
 
<link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
 
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
 
</head>
 
<body>
 
  <div id="container">
      <header>
        <h1>Best choice you can ever make</h1>
        <p>Buy any of these products and stand a chance to win a Trip to Paris. <a href="http://designshack.net/articles/css/infinitephotobanner/">Click here</a> to return to the tutorial on Design Shack.</p>
        
      </header>
      
      <div class="photobanner">
        <img class="first" src="http://g03.a.alicdn.com/kf/HTB1dfhzIXXXXXafXXXXq6xXFXXXK/Plus-font-b-Size-b-font-S-3XL-Woolen-font-b-Men-b-font-font-b.jpg" alt="" />
       
        <img src="http://g01.a.alicdn.com/kf/HTB126tqIXXXXXXjXFXXq6xXFXXXY/Men-Blazers-Plus-Size-M-6XL-2014-New-Arrival-Autumn-Fashion-High-Quality-Patchwork-Blue-Suit.jpg" alt="" />
        
        <img src="http://g01.a.alicdn.com/kf/HTB17Y.BIXXXXXa2XFXXq6xXFXXXY/2015-Sale-font-b-Men-b-font-Suit-font-b-Men-b-font-Blazers-New-Autumn.jpg" alt="" />
       
        <img src="http://g02.a.alicdn.com/kf/HTB1aU9OIFXXXXcCXFXXq6xXFXXXZ/2014-Women-Pantsuits-Set-Autumn-Winter-Office-Ladies-Suit-Plus-Size-V-Neck-Business-Women-Pants.jpg" alt="" />
        
        <img src="http://g02.a.alicdn.com/kf/HTB1fH69HVXXXXc7XVXXq6xXFXXXr/2015-Fashion-Arrival-Black-Blue-Casual-Blazer-Women-Mid-length-Single-Button-Plus-Size-XS-XXL.jpg" alt="" />
        
        <img src="http://designshack.net/tutorialexamples/photobanner/image-2.jpg" alt="" />
        <img src="http://designshack.net/tutorialexamples/photobanner/image-3.jpg" alt="" />
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQeZCHZKS1ekjJ9VWzpo_xRIZ5Zot7B-AZE36PukuSxUCYyUZ_Ybg" alt="" />
        <img src="image-3.jpg" alt="" />
        <img src="image-4.jpg" alt="" />
  
      </div>
  </div>
 
</body>
</html>